{% extends "layout.html" %}
{% block body %}
      <ul>
        <li><a href="http://127.0.0.1:5000/index"><i class="bi bi-house navicon"></i>Home</a></li>
        <li><a href="#about"><i class="bi bi-person navicon"></i> About</a></li>
        <li><a href="#resume"><i class="bi bi-file-earmark-text navicon"></i> Resume</a></li>
        <li><a href="#services"><i class="bi bi-hdd-stack navicon"></i> Services</a></li>
        <li><a href="#contact"><i class="bi bi-envelope navicon"></i> Contact</a></li>
      </ul>
    </nav>

  </header>

  <main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Starter Page</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="http://127.0.0.1:5000/index">About</a></li>
            <li class="current">Starter Page</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- Starter Section Section -->
    <section id="starter-section" class="starter-section section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>A journey of Innovation and Excellence</h2>
        <p>I was born on March 22, 2003, in the vibrant city of Dhanbad, Jharkhand. From an early age, I was driven by a passion for technology and a curiosity to understand the world through data. Now, at 22 years old, I reflect on my journey with pride and excitement 
          for the future, fueled by dedication, education, and an unwavering commitment to innovation.</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up">
        <p></p>
      </div>

    </section><!-- /Starter Section Section -->

  </main>

  <footer id="footer" class="footer position-relative light-background">

    <div class="container">
      <div class="copyright text-center ">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">Portfolio</strong> <span>All Rights Reserved</span></p>
      </div>   
      </div>
    </div>
    {% endblock %}

